div.p-5.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 214vh;
  min-height: 100vh;
}

@media (max-width: 768px) {
  div.p-5.container {
    min-width: 100%;
  }
}
input.form-control:hover {
  border-color: #9147ff;
}
div.cards{
  width: 1300px;
}

input.form-control {
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


div.row.first-row{
  display: flex;
  align-items: center;
  justify-content:center;
}


button.btn.purplle-button{
  background-color: #9147ff;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.btn.purplle-button:hover {
  background-color: #ab51e3;
}

div.submit-row{
  display: flex;
  align-items: center;
  justify-content: center;
}
.map{
  border: 2px solid #9147ff;
}