div.p-5.container{
  min-width: 214vh;
}

div.card{
  width: 1300px;
}

input.form-control{
  height: 50px;
}

div.row.first-row{
  display: flex;
  align-items: center;
  justify-content:center;
}


Button.btn.purplle-button {
  background-color: #9147ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

Button.btn.purplle-button:hover {
  background-color: #ab51e3;
}

div.submit-row{
  display: flex;
  align-items: center;
  justify-content: center;
}