
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1.text-logo {
  color: #9147ff;
  text-align: center;
  font-size: 36px;
  margin-bottom: 25px;
  letter-spacing: 3px;
}

h3.h3 {
  margin-bottom: 30px;
}

.form-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  width: 95%; 
  max-width: 800px;
  margin: 0 auto;
}

.form-signin,
.form-signup {
  text-align: center;
}

.form-floating.mb-3 {
  margin-bottom: 15px;
}

.button.purple-button {
  background-color: #9147ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  width: 100%; 
  margin-top: 30px;
  align-items: center;
}

.button.purple-button:hover {
  background-color: #ab51e3;
  color: white;
}

a.link-tag {
  color: #9147ff;
}

@media screen and (min-width: 576px) {
  .form-container {
    width: 90%; 
  }
}

@media screen and (min-width: 768px) {
  .form-container {
    width: 80%; 
  }
}

@media screen and (min-width: 992px) {
  .form-container {
    width: 70%; 
  }
}

@media screen and (min-width: 1200px) {
  .form-container {
    width: 60%; 
  }
}
